@{
    ViewData["Title"] = "Add Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/buttons.css">

<div class="card shadow-sm p-4 mb-4">
<form class="was-validated" asp-controller="Task" asp-action="AddTask" method="post">

    <div class="mb-3">
        <input type="text" class="form-control" id="taskName" placeholder="Task Name" name="Name" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="mb-3">
        <input type="number" class="form-control" placeholder="Duration (min)" name="Duration" id="taskDuration" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

        <textarea name="Description" id="taskDescription" placeholder="Description" class="form-control" maxlength="255" rows="5" required></textarea>

    <button type="submit" class="btn btn-submit mt-3">Submit</button>
</form>
    </div>