@model PMSCRM.Models.Task

@{
    ViewData["Title"] = "Task Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/buttons.css">

<div class="card shadow-sm p-4 mb-4">

    <label for="Name" class="form-label">Name</label>
    <div class="card p-4 mb-4">
        <p>@Model.Name</p>
    </div>

    <label for="Name" class="form-label">Duration</label>
    <div class ="card p-4 mb-4">
        <p>@Model.Duration min</p>
    </div>

    <label for="Name" class="form-label">Description</label>
    <div class="card p-4 mb-4">
        <p>@Model.Description</p>
    </div>

    <label for="Name" class="form-label">Created</label>
    <div class="card p-4 mb-4">
        <p>@Model.Timestamp</p>
    </div>

    <div>
        <a href="/Task/ViewTasks" class="btn btn-cancel">Back to List</a>
    </div>
</div>
