@{
    ViewData["Title"] = "Add Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="fw-bold fs-4 mb-3">Areas</h3>

<form class="was-validated" asp-controller="Area" asp-action="AddArea" method="post">

    <div class="mb-3 mt-3">
        <input type="text" class="form-control" id="companyName" placeholder="Company Name" name="CompanyName" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" id="areaName" placeholder="Area Name" name="Name" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <textarea name="Description" id="areaDescription" placeholder="Description" class="form-control" maxlength="255" rows="5"></textarea>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<!-- AutoComplete JQuery. Funkar, men täcker nästa fält.-->
@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#companyName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Company/GetCompanyNames',
                        type: 'GET',
                        data: { term: request.term },
                        success: function (data) {
                            response(data); // Populate autocomplete dropdown
                        }
                    });
                },
                minLength: 2 // Start searching after 2 characters
            });
        });
    </script>
    }
