@{
    ViewData["Title"] = "Add Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/buttons.css">

<div class="card shadow-sm p-4 mb-4">
    <h3 class="fw-bold fs-4 mb-3">Areas</h3>

    <form class="was-validated" asp-controller="Area" asp-action="AddArea" method="post">

    <div class="mb-3">
            <input type="text" class="form-control" id="areaName" placeholder="Area Name" maxlength="50" name="Name" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <textarea name="Description" id="areaDescription" placeholder="Description" class="form-control" maxlength="255" rows="5"></textarea>

    <button type="submit" class="btn btn-submit mt-3">Submit</button>
</form>
</div>
