@{
    ViewData["Title"] = "Area Added";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Area successfully added!</h3>

<a asp-area="" asp-controller="Area" asp-action="ViewAreas" class="btn btn-success">View Areas</a>

