@model List<PMSCRM.Models.Area>

@{
    ViewData["Title"] = "View Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/buttons.css">
<link rel="stylesheet" href="~/css/table.css">

<div class="card shadow-sm p-4 mb-4">
    @if (Model != null && Model.Any())
    {
        <table class="table-striped table-hover custom-table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="ViewAreas" asp-route-sortBy="Name" asp-route-sortDirection="@((ViewBag.CurrentSort == "Name" && ViewBag.CurrentSortDirection == "asc") ? "desc" : "asc")">
                            Name
                            @if (ViewBag.CurrentSort == "Name")
                            {
                                <span>@(ViewBag.CurrentSortDirection == "asc" ? "▲" : "▼")</span>
                            }
                            else
                            {
                                <span>▲</span>
                            }
                        </a>
                    </th>
                    <th>Description</th>
                    <th class="text-end px-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var area in Model)
                {
                    <tr>
                        <td class="text-truncate" style="max-width: 150px;">
                            <a href="/Area/Details/@area.AreaId" style="color: black; text-decoration: none;">@area.Name</a>
                        </td>
                        <td class="text-truncate" style="max-width: 300px;">
                            <a href="/Area/Details/@area.AreaId" style="color: black; text-decoration: none;">@area.Description</a>
                        </td>
                        <td class="text-end">
                            <a href="/Area/EditArea/@area.AreaId" class="btn btn-edit">Edit</a>
                            <a href="/Area/DeleteArea/@area.AreaId" class="btn btn-delete">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No areas found.</p>
    }
    <div>
        <a asp-area="" asp-controller="Area" asp-action="AddArea" class="btn btn-add">Add Area</a>
    </div>
</div>
