@{
    ViewData["Title"] = "Add Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="fw-bold fs-4 mb-3">Company</h3>

<form class="was-validated" asp-controller="Customer" asp-action="AddCustomer" method="post">
    <div class="mb-3 mt-3">
        <input type="text" class="form-control" id="companyId" placeholder="Company ID" name="CompanyId" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" id="companyName" placeholder="Company Name" name="Name" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
