@{
    ViewData["Title"] = "Add Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="fw-bold fs-4 mb-3">Role</h3>
<div class="card shadow-sm p-4 mb-4">
<form class="was-validated" asp-controller="Role" asp-action="AddRole" method="post">

    <div class="mb-3">
        <input type="text" class="form-control" id="roleName" placeholder="Role Name" name="Name" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
</div>
