@model PMSCRM.ViewModels.ProcessViewModel

@{
    ViewData["Title"] = "Edit Process";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<link rel="stylesheet" href="~/css/buttons.css">

<div class="card shadow-sm p-4 mb-4">
    <form asp-controller="Process" asp-action="EditProcess" method="post">
        <input type="hidden" asp-for="Process.ProcessId" />

        <div class="mb-3">
            <label for="AreaId" class="form-label">Select Area</label>
            <select asp-for="Process.AreaId" asp-items="Model.Areas" class="form-select" required>
                <option value="">Choose an area...</option>
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please select an area.</div>
        </div>

        <div class="mb-3">
            <label for="Name" class="form-label">Process Name</label>
            <input type="text" class="form-control" id="processName" asp-for="Process.Name" required />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="mb-3">
            <label for="Duration" class="form-label">Duration (min)</label>
            <input type="number" class="form-control" asp-for="Process.Duration" required />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <label for="Description" class="form-label">Description</label>
        <textarea asp-for="Process.Description" class="form-control" maxlength="255" rows="5"></textarea>

        <button class="btn btn-submit mt-3">Save Changes</button>
        <a href="/Process/ViewProcesses" class="btn btn-cancel mt-3">Cancel</a>
    </form>
</div>
