@model PMSCRM.ViewModels.ProcessViewModel

@{
    ViewData["Title"] = "Edit Process";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h3 class="fw-bold fs-4 mb-3">Edit Process</h3>

<div class="card shadow-sm p-4 mb-4">
    <form asp-controller="Process" asp-action="EditProcess" method="post">
        <input type="hidden" asp-for="Process.ProcessId" />

        <div class="mb-3">
            <label for="AreaId" class="form-label">Select Area</label>
            <select asp-for="Process.AreaId" asp-items="Model.Areas" class="form-select" required>
                <option value="">Choose an area...</option>
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please select an area.</div>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" id="processName" placeholder="Process Name" asp-for="Process.Name" required />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="mb-3">
            <input type="number" class="form-control" placeholder="Duration in hours" asp-for="Process.Duration" required />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <textarea asp-for="Process.Description" placeholder="Description" class="form-control" maxlength="255" rows="5"></textarea>

        <button type="submit" class="btn btn-primary mt-3">Update Process</button>
    </form>
</div>

<a href="@Url.Action("ViewProcesses", "Process")" class="btn btn-secondary">Back to List</a>
