@model PMSCRM.ViewModels.TaskProcessAreaViewModel

@{
    ViewData["Title"] = "Add TaskProcessArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/buttons.css">

<div class="card shadow-sm p-4 mb-4">
<form class="was-validated" asp-controller="TaskProcessArea" asp-action="AddTaskProcessArea" method="post">
    <div class="mb-3">
        <label for="TaskId" class="form-label">Select Task</label>
        <select asp-for="TaskId" asp-items="Model.Tasks" class="form-select" required>
            <option value="">Choose a task...</option>
        </select>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please select a task.</div>
    </div>

    <div class="mb-3">
        <label for="ProcessId" class="form-label">Select Process</label>
        <select asp-for="ProcessId" asp-items="Model.Processes" class="form-select" required>
            <option value="">Choose a process...</option>
        </select>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please select a process.</div>
    </div>
    <button type="submit" class="btn btn-submit">Add TPA</button>
</form>

</div>
