@model PMSCRM.ViewModels.TaskProcessAreaViewModel

@{
    ViewData["Title"] = "Add TaskProcessArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="fw-bold fs-4 mb-3">Add Task Process Area</h3>

<form class="was-validated" asp-controller="TaskProcessArea" asp-action="AddTaskProcessArea" method="post">
    <div class="mb-3">
        <label for="TaskId" class="form-label">Select Task</label>
        <select asp-for="TaskId" asp-items="Model.Tasks" class="form-select" required>
            <option value="">Choose a task...</option>
        </select>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please select a task.</div>
    </div>

    <div class="mb-3">
        <label for="ProcessId" class="form-label">Select Process</label>
        <select asp-for="ProcessId" asp-items="Model.Processes" class="form-select" required>
            <option value="">Choose a process...</option>
        </select>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please select a process.</div>
    </div>

    <div class="mb-3">
        <label for="AreaId" class="form-label">Select Area</label>
        <select asp-for="AreaId" asp-items="Model.Areas" class="form-select" required>
            <option value="">Choose an area...</option>
        </select>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please select an area.</div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Add Task Process Area</button>
</form>
