@model PMSCRM.Models.TaskProcessArea

@{
    ViewData["Title"] = "TaskProcessArea Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/buttons.css">

<div class="card shadow-sm p-4 mb-4">

    <label for="Name" class="form-label">Area</label>
    <div class="card p-4 mb-4">
        <p>@Model.Area.Name</p>
    </div>

    <label for="Name" class="form-label">Process</label>
    <div class="card p-4 mb-4">
        <p>@Model.Process.Name</p>
    </div>

    <label for="Name" class="form-label">Task</label>
    <div class="card p-4 mb-4">
        <p>@Model.Task.Name</p>
    </div>

    <label for="Name" class="form-label">Created</label>
    <div class="card p-4 mb-4">
        <p>@Model.Timestamp</p>
    </div>

    <div>
        <a href="/TaskProcessArea/ViewTaskProcessArea" class="btn btn-cancel">Back to List</a>
    </div>
</div>
